# **Assignment 1**

# Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans: An expression is a combination of Values and operators which they produce some result. Here *, -, /, +, %,= etc are operators and "hello", -87.8 and 6 are values. Below code clearly defines an expression and use.

In [ ]:
#Here we use expression combination of values and operators
a=-87.8
b=6
c=a+b          # use + operator
print(c)
print(f"The multiplecation of {a} and {b} is : {a*b}")

-81.8
The multiplecation of -87.8 and 6 is : -526.8

# Q2. What is the difference between string and variable?                          
ans: String is a Datatype and series of characters.We can use String Use quotes, either single-quotes or double-quotes to create string.
On the other hand Variable are name of memory location basically used to store  some value in memory location.

In [ ]:
#Example of String 
a="Ashish Maurya"
print(a)
'''here we can see in double inverted commas are string and a is variable '''

# Q3. Describe three different data types.                                                                        Ans: In python there are several different data types but most important data types are (int, string, float, booleon, complex) and sequence type (list, tuple) and other important datatypes are Dict, set , range

In [1]:
#int datatypes 
a= 22           #int datatypes 
b="33"          #Str datatypes 
c=-34.2          #floot datatypes 
d=True           #bool datatype
g=1j             #complex datatypes 
x = ["apple", "banana", "cherry"]	     #list datatypes
j = ("apple", "banana", "cherry")        #tuple datatypes
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(g))
print(type(j))
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'tuple'>
<class 'list'>

# Q 4. What is an expression made up of? What do all expressions do?                                                                              
Ans: An expression is made up of operators, variables and values.The basic work of Expression is to evaluate and shows the result

#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression is a combination of var, values, operator for example 2.6,a+b,1+a. and expression can be evaluated some value or result
A statement is a instruction/cammand  that given by the user or computer like print statment, in above example assignment statement like spam=10 
we can clearly see that spam=10 is cammand "assign the value 10 in a spam memory location that can be executed by the interpretor '''

# 6. After running the following code, what does the variable bacon contain?
      bacon = 22 
      bacon + 1 


####Ans: if we try to run above code the interpretor check the first line :
a: The first line of code assign the value 22 in bacon and the next line add 1 in variable bacon 
so the result is 23

In [ ]:

bacon=22
bacon+1

23

# 7. What should the values of the following two terms be?
    "spam"+"spamspam",
    "spam"*3                                                                       
  Ans: the value will be same

In [2]:
c="spam" + "spamspam"
a="spam"*3
print(c)
print(a)

spamspamspam
spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?
Ans: There are differnt reason why eggs is valid and 1000 is invalid.In python we have a rule for writing a variable the rules are given below:

1: A variable name can not start with Number either we can add no. in middle of variable name example: ineu8, innov8.

2: A variable name can only contain alpha numeric characker.for example:
   ineur_on7,python_01 

3: A variable name only be start from character or underscore ex: book,_book
is valid example 

4:At last In python variable name is case senstive Eggs, eggs and EGGS can be treated as different variable name however the meaning is same but python is case senstive.

So by above mention python variable name rule we can say say that eggs is valid and 1000 is invalid

In [ ]:
eggs=10
print(eggs)

10

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans fuctions are alwayes in paranthesis () 
1. for Integer we can use int()
2. for float : float()
3. for string : str()

# 10. Why does this expression cause an error? How can you fix it?
        "i have eaten" + 99  + "burrytos"

ans> when to try to execute this code we got this TypeError: can only concatenate str (not "int") to str.
this means we are trying to concatenate 2 different data types and in python we can not directly concatenate 2 diff datatypes however we can resolve this issue by converting int to str like:  
    
    "i have eaten" + str(99) + "Burrytos"

In [3]:
"i have eaten" + 99  + "burrytos"

TypeError: ignored