# 1.What are the two values of the Boolean data type? How do you write them?

Ans: Booleon datatype only has two values True and False. we can write booleon datatypes in many ways like if we compare two values the expression is evaluated  and result the booleon answer. below code is a example of booleon datatypes.

In [ ]:
1>=2

False

In [ ]:
1<=3

True

# 2: What are the three different types of Boolean operators?

Ans: In python generally 2 type of booleon operators category that return Booleon values 

1. Logical operator:
    And, or and Not these are also called logical operators.:


2. comparison operator :
   As the name says the comparison operator compares two values 
    ==, <=, >=, !=     etc

In [ ]:
# here we can see the example of OR operator 
# this operator gives true if one of the value is true otherwise its false 
1==1 or 1==2

True

In [ ]:
# and give false if one of the expression is false otherwise True
1==1 and 1==2

In [ ]:
# not interchange true and False
x=False
y=True
print(not(x))
print(not(y))

True
False

# 3: Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

there are 3 booleon operator and or and not 

1. and: 
        True and True is True.
        True and False is False.
        False and True is False.
        False and False is False.
2. or:  
        True or True is True.
        True or False is True.
        False or True is True.
        False or False is False.
3. Not: 
        not True is False.
        not False is True.

# 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).
Ans:

In [ ]:
x = 12
y = 45

print("Equal to operator x == y:", x == y)
print("Not equal to x != y:", x != y)
print("less then x < y:", x < y)
print("greater then x > y:", x > y)
print("lessthen equal to x <= y:", x <= y)
print("greater then equal to x >= y:", x >= y)

Equal to operator x == y: False
Not equal to x != y: True
less then x < y: True
greater then x > y: False
lessthen equal to x <= y: True
greater then equal to x >= y: False

# 4. What are the values of the following expressions?

     (5 &gt; 4) and (3 == 5),

      not (5 &gt; 4),

      (5 &gt; 4) or (3 == 5),

      not ((5 &gt; 4) or (3 == 5)),

      (True and True) and (True == False),
      
      (not False) or (not True)

In [ ]:
 # here and is logical operator and it return true if both values are true
print((5 > 4) and (3 == 5))
print(not(5>4))

print((5>4)or(3==5))

print(not(5>4)or(3==5))

print((True and True)and(True==False))

print((not False)or(not True))

False
False
True
False
False
True

#5 What are the six comparison operators?
comparison operator are used to compare below is mention and its example 

1. equal too: ==,
2. less then : <,
3. greater then:  >, 
4. less then equal too : <=, 
5. greater then equal too:  >=, 
6. Not equal too : !=

# 6.How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Ans: As name says equal to " == " operator compare two operands whether they are equal or not.

On the other hand assignment operator used as assign some value to variable

In [ ]:
#example 
Myage = 24 # here we assigned 24 in variable Myage

frnd_age = 26

# below code actually compare my age and friend age and through result "False" because age are not same 

compare_Age= Myage == frnd_age   

print(compare_Age)

False

#7. Identify the three blocks in this code:
Ans. Explanation code 

1. if spam == 10:

    print("eggs")

here is 1st block try to compare if spam value is equal to 10 then print egg

2. if spam>5:

    print("Bacon")

2nd comparision try to compare spam is greater then 5 then print Bacon

3. else:

    print("Ham")

    print("spam")

    print("spam")

this block if first two block is false then this will execute and print result

In [ ]:
spam = 0
if spam == 10:
  print("eggs")
if spam>5:
  print("Bacon")
else:
  print("Ham")
  print("spam")
  print("spam")

Ham
spam
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam=int(input("type a No. to get a result: "))
if spam==1:
  print("hellO")
elif spam==2:
  print("howdy")
else:
  print("Greeting !")

type a No. to get a result: 2
howdy

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

Ans: If our program will stuck in endless loop then we need to interrupt our program in Google colab we can use 'ctrl+i" to kill the program and  ctrl-C to stop a program stuck in an infinite loop.

# 10. How can you tell the difference between break and continue?

break and continue also called loop control statement because it control the loop.
break statement are used to terminate the loop which it is in present after that it will pass to next statement .

continue is apposite to break statement as the name says it will force the loop to continue the program without any intruption. instead of terminating the loop it forces to execute the next iteration of the loop the code inside the loop following the continue statement will be skipped and the next iteration of the loop will begin.

In [ ]:
#break
#this will intrupt or terminate loop which include break 
for val in "Ineuron":
  if val=="o":
    break
  print(val, end=" ")

I n e u r

In [ ]:
#continue
# this program says 6 and 15 are skipped and continue the program without any terminate
for i in range(20):
  if i==6 or i==15:
    continue
  print(i,end=" ")

0 1 2 3 4 5 7 8 9 10 11 12 13 14 16 17 18 19

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Ans: we can understand by example:
1. range(10): this fuction have onle one argument and this means the range goes to 0 to 10 
2. range(0,10): This fuction takes 2 value called start and stop like this range(start, stop) we can put any value.
3. range(0,10,2): this include one extra arg 2 mean step size

In [ ]:
# range(10) will print no. 0 to 10
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# range(start, stop) it is basically have two argument it only show between the two no. lets take example
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

In [1]:
#range(0, 10, 1) it has step size 3rd value is step size this will used to 
#step: integer value which determines the increment between each integer in the sequence
for i in range(1,10,2):
  print(i)

1
3
5
7
9

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalentprogram that prints the numbers 1 to 10 using a while loop.

Ans:

In [3]:
# using for loop 
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#using While loop
i=0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

# 13. If you had a function named bacon() inside a module named spam, how would you call it afterimporting spam?

Ans: after importing module we can call fuction by using spam.bacon()