#1. What exactly is []?
Ans: Empty list

#2. In a list of values stored in a variable called spam, how would you assign the value "hello" as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
ans: To assigne any value in list and any position we can use indexing In python we indexing start from 0-n
so in this case we have use use following:

In [2]:
spam=[2, 4, 6, 8, 10]
spam[2]="hello"
print(spam)

[2, 4, 'hello', 8, 10]

#3. What is the value of
    spam[int(int('3'* 2) / 11)]?
Ans:The expression inside the spam evaluate 3 hence it is in square brackets so we can use as a index or we can say that this expression can be used any where

In [15]:
spam=[1,2,3,"hello",6]
spam[int("3"*2)//11]

'hello'

#4. What is the value of spam[-1]?

Ans:

In [16]:
spam[-1]

6

#5. What is the value of spam[:2]?
Ans : Here we are working in list slicing so

In [3]:
spam=[1,4,"Datascientist",8]
spam[1:3]

[4, 'Datascientist']

#----------Let's pretend bacon has the list [3.14, 'cat',11, 'cat', True] for the next three questions.-----------

###6. What is the value of bacon.index("cat")?

ans: As we know the rule of indexing start from zero.
So in above mention list of items include 2 same elements so it take first come basic below code shows us index 1

In [4]:
bacon= [3.14, 'cat',11, 'cat', True]
bacon.index('cat')

1

###7. How does bacon.append(99) change the look of the list value in bacon?
Ans: append fuction add value at last so in mention list the value 99 add at last of list.

In [15]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

###8. How does bacon.remove("cat") change the look of the list in bacon?

Ans: it remove the cat element from list by indexing

In [16]:
bacon.remove("cat")
bacon

[3.14, 11, 'cat', True, 99]

###9. What are the list concatenation and list replication operators?
Ans: "+" operator is used for List concatenation 
2. " * " operator is used for list replication

###10. What is difference between the list methods append() and insert()?
Ans:
1. append method is used to append element at last place of the list.
2. insert always take 2 argument first is index no. and second is element want to insert at place of index

In [17]:
# append operation 
a=[1,2,3,4,5]
a.append("hello")
a

[1, 2, 3, 4, 5, 'hello']

In [20]:
# insert operation
a.insert(2,"me")
a

[1, 2, 'me', 'me', 3, 4, 5, 'hello']

###11. What are the two methods for removing items from a list?
Ans: Python list pop() is an inbuilt function in Python that removes and returns the last value from the List or the given index value.
2. remove() is also inbuild function in python that remove given element as a argument so if we want to remove perticular item from list we can use remove("item_name")

In [29]:
b=[1,2,3,4,'hello']

b.pop()
b

[1, 2, 3, 4]

In [30]:
b.remove(3)
b

[1, 2, 4]

###12. Describe how list values and string values are identical.
ANs: 
1. List and string both are used to store value  and both are sequence
2. we can access both by using index

###13. What's the difference between tuples and lists?
ANs: 
1. List are mutable but Tuple are immutable

###14. How do you type a tuple value that only contains the integer 42?
ans: This is special case or we can say it single item tuple so in this case we can use comma after element if we not use comma then it treated as simple value assignment

In [39]:
a=(42,)
a

(42,)

###15. How do you get a list value tuple form? How do you get a tuple value list form?
Ans:

In [40]:
lst=[1,2,4]
tuple(lst)

(1, 2, 4)

In [42]:
tpl=(1,2,5)
list(tpl)

[1, 2, 5]

###16. Variables that contains list values are not necessarily lists themselves. Instead, what do they contain?
Ans: In python Variable msut contain data types in case of list it carry reference to list values rather then list values whenever variable contain mutable datatypes,

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?
Ans:

    copy.copy()
This function create copy of object in other memory location so if we perform operation the original object not change example below

In [48]:
lst1=[1,2,3,4]
lst2=lst1

lst2[1]=1000
lst2
lst1
'''as we saw this operation changes orinal value as we know the lst1 and lst 2 are pointing same memory
location so if we change the value of lst2 the lst1 automatically change '''

[1, 1000, 3, 4]

In [49]:
#.copy() or shallow copy()
lst1=[1,2,3,4]
lst2=lst1.copy()
lst2[1]=1000
lst2
''' this shallow copy() or copy() fuction does not changes origninal list 
because it makes lst2 in different memory location'''

[1, 1000, 3, 4]

In [50]:
lst1

[1, 2, 3, 4]

In [56]:
#but shallow copy does not work when list has nested list 
import copy
lst1=[1,2,[5,6,7,8],[11,22,33,44]]  # nested list
lst2=copy.copy(lst1)

In [58]:
lst2[2][1]=1000
lst2

[1, 2, [5, 1000, 7, 8], [11, 22, 33, 44]]

In [59]:
lst1
'''but here in nested list copy.copy() not work so in this case we can use deepcopy() '''

[1, 2, [5, 1000, 7, 8], [11, 22, 33, 44]]

deepcopy is process where each object is copy recusively.It means first make a new collection object and then recursively populating it with copies of the child objects found in the original

      copy.deepcopy()

In [60]:
# Deepcopy()
import copy
lst1=[1,2,[5,6,7,8],[11,22,33,44]]  # nested list
lst2=copy.deepcopy(lst1)
lst2[2][1]=1000
lst2

[1, 2, [5, 1000, 7, 8], [11, 22, 33, 44]]

In [61]:
lst1

[1, 2, [5, 6, 7, 8], [11, 22, 33, 44]]

difference between copy.copy() and copy.deepcopy()

The difference between shallow and deep copying is only relevant for nested or compund objects (objects that contain other objects, like lists or class instances) above we have seen example :
1. A shallow copy constructs a new compound object and then inserts references into it to the objects found in the original.
2. A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.